<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.barnes.flashcards">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Flashcards">
        <activity
            android:name=".controller.WelcomePage"
            android:exported="false" >
        </activity>
        <activity
            android:name=".controller.ReviewActivity"
            android:exported="false"
            android:label="Review" />
        <activity
            android:name=".controller.SearchFlashcardsActivity"
            android:exported="false"
            android:label="Search" />
        <activity
            android:name=".controller.AddDeckActivity"
            android:exported="false"
            android:label="Decks" />
        <activity
            android:name=".controller.AddFlashcardActivity"
            android:exported="false"
            android:label="Flashcards" />
        <activity
            android:name=".controller.FlashcardInfoActivity"
            android:exported="false"
            android:label="Flashcards" />
        <activity
            android:name=".controller.ViewFlashcardsActivity"
            android:exported="false"
            android:label="Flashcards" />
        <activity
            android:name=".controller.DeckInfoActivity"
            android:exported="false"
            android:label="Decks" />
        <activity
            android:name=".controller.ViewDecksActivity"
            android:exported="true"
            android:label="Decks">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>